.doador-flex-centralizar-itens {
    display: flex;
    align-items: center;
}

/*Início NavBar*/
.doador-navbar {
    height: 80px;
    padding: 8px 40px 0px 40px;
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.2);
}

.doador-navbar a {
    text-decoration: none;
    color: inherit;
}

.doador-navbar img {
    max-height: 60px;
    margin-left: -40px;
}

#div-direita-navbar {
    height: 60px;
    margin-left: auto;
    align-items: center;
}

#div-direita-navbar span {
    margin-right: 50px
}

#div-direita-navbar img {
    max-height: 32px;
    margin-right: -40px;
}

/*Fim NavBar*/

/*Início Corpo*/
.div-container-geral {
    padding: 0px 40px;
}

#menu-hamburguer {
    height: 40px;
    margin-top: 16px;
}

.div-container-perfil {
    margin: 100px;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* .div-container-perfil img {
    max-height: 170px;
    margin: auto;
} */

.linha-vertical{
    border-left: 1px solid;
    position: absolute;
    margin: auto;
    height: 78%;
    margin-top: 6%;
}

.div-container-perfil-interno {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.div-container-perfil-interno-superior{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-container-perfil-user-interno-inferior{
    width: 100%;
    display: flex;
}

.div-inferior-dir{
    width: 50%;
    margin-left: auto;
}

.div-inferior-esq{
    width: 50%;
    margin-right: auto;
}

.div-superior-dir{
    width: 100%;
    margin-right: auto;
    /* margin-bottom: auto; */
}

.div-superior-esq{
    width: 100%;
    margin-left: auto;
    text-align: left;
}

.div-superior-esq h2{
    width: fit-content;
    margin: 8px 0px;
}

.container-params-gerais img{
    max-width: 180px;
    max-height: 180px;
}

.div-container-infos-user {
    /* margin-right: auto; */
    width: 100%;
}

.desc-user h4 {
    margin: 16px 0PX;
}

.desc-user{
    text-align: left;
    width: fit-content;
}

.div-container-pontos {
   /* margin-left: auto; */
}

.div-nivel-user h2 {
    margin-top: 16px;
    float: left;
}

.div-qtd-pontos-user {
    height: 178px;
    width: 180px;
    /* background-image: url("./img/perfil-doador/estrela.png"); */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    /* justify-content: center; */
    /* font-size: xx-large; */
    font-weight: bold;
    /* margin-top: 26px; */
}

.div-qtd-pontos-user img{
    max-height: 64px;
}

.div-qtd-pontos-user span{
    padding-left: 16px;
}

.div-nivel-user {
    margin-bottom: 80px;
    margin-left: auto;
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.div-nivel-user span{
    padding-left: 16px;
}

.div-nivel-user img{
    max-height: 64px;
}