* {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.menu{
    width: 100%;
    height: 100px;
}

.div-logo-menu{
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    width: 500px;
    height: 100px;
    float: left;
}

.div-logo-menu h1{
    position: absolute;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 60px;
}

.div-logo-menu img{
    position: absolute;
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

.botao-menu-haburguer{
    position: absolute;
    margin-top: 150px;
    border: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.botao-menu-haburguer:hover{
    color: #01396F;
}

.div-botoes-menu{
    float: right;
    margin-top: 50px;
    margin-right: 80px;
}

.botao-nav{
    border: none;
    text-decoration: none;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 50px;
}

.botao-nav:hover{
    color: #01396F;
}

.botao-campanha{
    border: 2px solid #01396F;
    border-radius: 18px;
    background-color: #01396F;
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.botao-campanha:hover{
    color: black;
    background-color: white;
    box-shadow: 2px 2px;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .menu-opcao {
    position: relative;
    top: 25%;
    width: 30%;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .side-menu a {
    padding: 8px 20px 8px 32px;
    text-decoration: none;
    font-size: 36px;
    color: #929292;
    display: block;
    transition: 0.3s
  }
  
  .side-menu a:hover, .side-menu a:focus {
    color:  #01396F;
    cursor: pointer;
  }
  
  .side-menu .botao-fechar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 60px;
  }
  