* {
    margin: 0%;
    font-family: 'Comfortaa', cursive;
}

header {
    height: 60px;
    width: 100%;
    background-color: transparent;
    position: absolute;
}

header img {
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}

header h2 {
    margin-top: 30px;
    float: left;
    font-size: 30px;
    color: white;
}

header .img-profile {
    position: relative;
    float: right;
    margin: 30px;
    width: 50px;
    height: 50px;
}

ul {
    margin-top: 30px;
    float: right;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a {
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: 3s;
}

/*make-things-better*/
.make-things-better {
    background-repeat: no-repeat;
    background-image: url("img/make-things-better-5.png");
    background-size: 100%;
    width: 100%;
    height: 670px;
}

.titulo {
    position: relative;
    color: white;
    margin-top: 250px;
    font-size: 40px;
}

/*make-things-better*/


/*menu*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*menu*/
.primeira-div {
    margin: 100px;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 5px 10px rgb(136, 136, 136);
    color: black;
    border-radius: 10px;
    position: relative;
    height: 300px;
}

.img-primeira-div img {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    padding: 50px;
}

.primeira-div h1 {
    float: right;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    margin-top: 100px;
    position: relative;
}

.primeira-div p {
    float: right;
    position: sticky;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.primeira-div b {
    font-size: 30px;
}

.box-2 {
    float: right;
    background-color: #01396F;
    width: 70%;
    height: 130px;
    justify-items: right;
    justify-content: right;
    color: white;
    border-radius: 100px 0px 0px 100px;
}

.box-2 h2 {
    font-size: 40px;
    padding: 30px;
    padding-top: 50px;
}

.box-3 {
    justify-content: center;
    justify-items: center;
    display: inline-flex;
}

.gallery {
    justify-items: center;
    justify-content: center;
    display: flex;
    color: white;
    border-radius: 50%;
    margin: 5px;
    width: 180px;
    height: 180px;
    background-color: rgb(0, 48, 119);
}

.gallery h2 {
    font-size: 40px;
    padding-top: 40%;
    justify-items: center;
    justify-content: center;
    display: flex;
}

.desc {
    width: 200px;
    height: 100px;
    justify-content: center;
    justify-items: center;
    display: flex;
}

.desc p {
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}

.box {
    float: left;
    width: 15%;
    height: 30%;
    margin: 20px;
    margin-top: 5%;
}

.box-4 {
    float: left;
    background-color: #01396F;
    width: 70%;
    height: 130px;
    justify-items: right;
    justify-content: right;
    color: white;
    border-radius: 0px 100px 100px 0px;
}

.box-4 h2 {
    float: right;
    font-size: 40px;
    padding: 30px;
    padding-top: 50px;
}

.box-5 {
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-top: 20%;
}

.sobre {
    width: 50%;
    height: 200px;
    font-size: 20px;
    text-align: center;
    float: left;
}

.sobre h2{
    font-size: 40px;
}

.sobre p{
    margin-top: 10%;
}

.img-sobre{
    float: right;
}

.img-sobre img{
    padding-left: 50px;
    width: 70%;
    height: 80%;
}

/* footer */
.box-6 {
    height: 300px;
    width: auto;
    box-shadow: 0px 0px 10px rgb(136, 136, 136);
}

.div-logo {
    margin: 15px;
    justify-content: center;
    display: inline-block;
    position: flex;
    width: 400px;
    height: 200px;
}

.div-logo img {
    margin-top: 75px;
    float: left;
    width: 150px;
    height: 150px;
}

.div-logo h1 {
    margin-top: 130px;
    float: right;
    font-size: 35px;
    color: rgb(204, 204, 204);
}

.div-info {
    font-size: 20px;
    margin: 10px;
    margin-top: 100px;
    width: 500px;
    height: 50px;
    float: right;
    position: relative;
    color: rgb(204, 204, 204);
}


.div-info p {
    text-align: right;
    float: right;
}

.img-redes-sociais {
    position: relative;
    margin: 10px;
    width: 500px;
    height: 50px;
    float: right;
}

.img-redes-sociais img {
    margin: 5px;
    float: right;
    width: 50px;
    height: 50px;
}