* {
    margin: 0%;
    font-family: 'Comfortaa', cursive;
}

header {
    height: 60px;
    width: auto;
    box-shadow: 0px 5px 10px rgb(136, 136, 136);
}

header img {
    height: 50px;
    width: 50px;
    margin: 5px;
    float: left;
}

header h2 {
    margin-top: 20px;
    float: left;
    font-size: 20px;
}

header .img-profile {
    float: right;
}

/*make-things-better*/
.make-things-better img {
    width: auto;
    height: 535px;
    position: absolute;
}

.titulo{
    position: relative;
    color: white;
    margin-top: 250px;
    font-size: 40px;
}

.primeira-div{
    margin: 100px;
    margin-top: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 5px 10px rgb(136, 136, 136);
    color: black;
    border-radius: 10px;
    position: relative;
}

.img-primeira-div img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 50px;
}

.primeira-div h1 {
    float: right;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;
    margin-top: 100px;
    position: relative;
}

.primeira-div p {
    float: right;
    position: sticky;
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.primeira-div b{
    font-size: 30px;
}

.box-2{
    height: 300px;
    width: auto;
    box-shadow: 0px 0px 10px rgb(136, 136, 136);
}

.div-logo{
    margin: 20px;
    justify-content: center;
    display: inline-block;
    position: flex;
    width: 350px;
    height: 200px;
}

.div-logo img{
    margin-top: 75px;
    float: left;
    width: 100px;
    height: 100px;
}

.div-logo h1{
    margin-top: 100px;
    float: right;
    font-size: 38px;
    color: rgb(204, 204, 204);
}

.div-info{
    font-size: 25px;
    margin: 10px;
    margin-top: 100px;
    width: 500px;
    height: 50px;
    float: right;
    position: relative;
    color: rgb(204, 204, 204);
}


.div-info p{
    text-align: right;
    float: right;
}

.img-redes-sociais{
    position: relative;
    margin: 10px;
    width: 500px;
    height: 50px;
    float: right;
}

.img-redes-sociais img{
    margin: 5px;
    float: right;
    width: 50px;
    height: 50px;
}


