.corpo{
    width: 100%;
    height: 100vh;
}

.cadastro{
    background-color: white;
    box-shadow: 0px 5px 10px rgb(110, 110, 110);
    margin-left: 8%;
    margin-top: 5%;
    width: 80%;
    height: 80vh;
    float: left;
    border-radius: 10px;
}

.cadastro input{
    border: none;
    width: 80%;
    font-size: 24px;
    margin-top: 1%;
    margin-left: 1%;
    border: none;
    border-radius: 10px;
}

.cadastro .objetivo{
    margin-left: 5%;
    margin-top: 2%;
    border: none;
    width: 80%;
    height: 16vh;
    resize: none;
    box-shadow: 0px 5px 10px rgb(110, 110, 110);
    font-size: 24px;
    border: none;
    border-radius: 10px;
}

.cadastro h3{
    margin-top: 3%;
    margin-left: 3%;
}

.cadastro .valor{
    height: 4vh;
    border-radius: 40px;
}

.cadastro .foto{
    display: none;
}

label {
    padding: 20px 10px;
    width: 60%;
    background-color: #01396F;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 5%;
    border: none;
    border-radius: 10px;
}
label:hover{
    background-color: #033561;
    box-shadow: 5px  5px 19px rgb(0 0 0 / 60%);
    cursor: pointer;
}

.logoEmpresa{
    border: 5px solid #01396F ;
    border-radius: 50%;
    width: 40%;
    height: 50vh;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
}

.formulario{
    float: left;
    width: 50%;
}

.objetivo:focus, .valor:focus{
    outline: none;
}

.imagem{
    height: 50vh;
}

.botao{
    margin-top: 5%;
    margin-left: 40%;
    width: 20%;
    height: 8vh;
    background-color: #01396F;
    color: #FFF;
    border: none;
    border-radius: 10px;
}

.botao:hover{
    background-color: #033561;
    box-shadow: 5px  5px 19px rgb(0 0 0 / 60%);
    cursor: pointer;
}

.pesquisa{
    height: 5vh;
    margin-left: 5%;
    width: 80%;
    margin-top:2%;
    box-shadow: 0px 5px 10px rgb(110, 110, 110);
    border-radius: 10px;
}

.pesquisa p{
    font-size: 24px;
    margin-left: 2%;
    margin-top: 1%;
    float: left;
}