.doador-flex-centralizar-itens {
    display: flex;
    align-items: center;
}

/*Início NavBar*/
.doador-navbar {
    height: 60px;
    padding: 8px 40px 0px 40px;
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.2);
}

.doador-navbar a {
    text-decoration: none;
    color: inherit;
}

.doador-navbar img {
    max-height: 60px;
}

#div-direita-navbar {
    height: 60px;
    margin-left: auto;
    align-items: center;
}

#div-direita-navbar span {
    margin-right: 8px
}

#div-direita-navbar img {
    max-height: 32px;
}

/*Fim NavBar*/

/*Início Corpo*/
.div-container-geral {
    padding: 0px 40px;
}

#menu-hamburguer {
    height: 40px;
    margin-top: 16px;
}

.div-container-perfil {
    margin: 100px;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.div-container-perfil img {
    max-height: 170px;
    margin: auto;
}

.linha-vertical{
    border-left: 1px solid;
    position: absolute;
    margin: auto;
    height: 78%;
    margin-top: 6%;
}

.div-container-perfil-interno {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.div-container-perfil-interno-superior{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-container-perfil-interno-inferior{
    width: 100%;
    display: flex;
}

.container-params-gerais img{
    max-width: 180px;
    max-height: 180px;
}

.div-container-infos-user {
    margin-right: auto;
}

.div-container-infos-user h2 {
    margin-bottom: 8px;
}

.div-container-pontos {
    flex-direction: column;
}

.div-nivel-user h2 {
    margin-top: 16px;
}

.div-qtd-pontos-user {
    height: 178px;
    width: 180px;
    background-image: url("./img/perfil-doador/estrela.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.div-qtd-pontos-user {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 26px;
}

.div-nivel-user {
    margin-bottom: 80px;
    margin-left: auto;
}

.div-nivel-user label {
    display: block;
    margin: 8px;
    font-weight: bold;
}