.empresa {
    height: 30vh;
    margin-top: 2%;
}

.logoEmpresa{
    width: 20%;
    height: 30vh;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}

.descricao{
    padding-top: 10%;
    text-justify: inter-word;
    line-height: 4vh;
    text-align: center;
}

.descricao h3{
    font-weight: bolder;
}

.descricao h4{
    font-weight: inherit;
}

.descricao p{
    font-weight: lighter;
}

.descricao span{
    color:#E67D86;
}

.produto{
    height: 50vh;
    margin-top: 5%;
}

.produto img{
    width: 80%;
    height: 40vh;
    margin-left: 10%;
    margin-top: 10%;
}

.empresa-produto{
    margin-left: 6%;
    width: 35%;
    float: left;
    height: 90vh;
    margin-top: 3%;
    background-color: white;
    box-shadow: 0px 5px 10px rgb(110, 110, 110);
}

.vakinha{
    margin-left: 10%;
    width: 35%;
    float: left;
    height: 90VH;
    margin-top: 3%;
    background-color: white;
    box-shadow: 0px 5px 10px rgb(110, 110, 110);
}

.botao{
    background-color: #01396F;
    color: white;
    width: 45%;
    margin: 2%;
    border: none;
    height: 5vh;
    font-size: large;
    border-radius: 24px;
    box-shadow: 0px 5px 10px rgb(110, 110, 110);
}

.botoes{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.grafico{
    width: 90%;
    height: 55vh;
    margin-left: 5%;
    margin-top: 5%;
}

.botao50{
    color: white;
    background-color: #01396F;
    width: 95%;
    margin: 2%;
    border: none;
    height: 5vh;
    font-size: large;
    border-radius: 24px;
    box-shadow: 0px 5px 10px rgb(110, 110, 110);
}

.sitePrincipal{
    height: 100vh;
    margin-top: 0;
    background-color: #EEEEEE;
}

.box-4{
    margin-top: 0;
}

.header{
    height: 15vh;
}

.header h2, .header a{
    color: black;
}

.header h2{
    margin-top: 3%;
}

.header a:hover{
    color: white;
}

.box-4 h1{
    margin-top: 30%;
}